@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

html, body, h5, h4, h3, h2, h1, p, ul, li
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Spartan;
    font-size: 15px;
}

nav
{
    background: url(images/bg-header-desktop.svg) center center/cover;
    background-color: hsl(180, 29%, 50%);
    width: 100%;
    height: 20vh;
}
main
{
    background-color: hsl(180, 52%, 96%);
    width: 100%;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg-job
{
    max-width: 1110px;
    margin: 0 auto;
    min-height: 100vh;
}
.alert p
{
    text-align: center;   
    margin: 0 auto; 
    font-size: 1.2rem;
    color: #2B3939;
}

.searchFilter
{
    max-width: 870px;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 15.5%;
    padding: 0 1rem;
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 15px 20px -5px rgba(13, 113, 130, 15%);
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: flex-start;
}
.searchFilter .tag-container
{
    display: flex;
}
.searchFilter .tag
{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.searchFilter .tag span 
{
    background-color: hsl(180, 31%, 95%);
    color: #5CA5A5;
    font-weight: 700;
    padding: 10px 10px 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.searchFilter .tag i
{
    background-color: #5CA5A5;
    color: #fff;
    padding: 10px 10px 11px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.searchFilter .tag i:hover
{
    background-color: #2B3939;
}
.searchFilter input
{
    height: 78px;
    width: auto;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: #2B3939;
    font-family: Spartan;
}
.searchFilter a
{
    text-decoration: none;
    color: #5CA5A5;
    font-weight: 700;
    margin-left: auto;
    margin-right: 3rem;
}
.searchFilter a:hover
{
    text-decoration: underline;
}


.job-items
{
    width: 100%;
    height: 150px;
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 15px 20px -5px rgba(13, 113, 130, 15%);
    border-radius: 5px;
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-start;
}
.hide-job
{
    display: none;
}
.job-comp-ava
{
    margin: 3rem;
}
.job-content
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.job-comp-name span
{
    color: #5CA5A5;
    padding: 4px 0;
    margin-right: 6px;
    font-weight: 700;
}

span.new-tag, span.featured-tag
{
    text-transform: uppercase;
    padding: 8px 12px 4px;
    color: #fff;
    border-radius: 20px;
    margin: 0 4px;
    font-size: 0.73rem;
    font-weight: 500;
}
span.new-tag
{
    background-color: #5CA5A5;
}
span.featured-tag
{
    background-color: #2B3939;
}
.hidden
{
    display: none;
    visibility: hidden;
}

.job-position h3
{
    font-size: 1.2rem;
    margin: 12px 0 8px;
    color: #2B3939;
}
.job-position h3:hover
{
    color: #5CA5A5;
    cursor: pointer;
}
.job-info span
{
    font-size: 0.93rem;
    color: #7C8F8F;
    line-height: 0.93rem;
}
.job-info span.dot
{
    width: 4px;
    height: 4px;
    background-color: #7C8F8F;
    border-radius: 50%;
    margin: 3px 5px;
    display: inline-block;
}

.job-tags
{
    margin-left: auto;
    margin-right: 3rem;
}
.job-tags ul
{
    list-style: none;
}
.job-tags ul li
{
    float: left;
    margin: 0 6px;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
    padding: 10px 10px 8px;
    font-weight: 700;
    font-size: 0.86rem;
    border-radius: 4px;
}
.job-tags ul li:hover
{
    color: #fff;
    background-color: hsl(180, 29%, 50%);
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px)
{
    .bg-job
    {
        max-width: 750px;
    }
    .searchFilter
    {
        max-width: 35rem;
        width: 35rem;
        height: 100px;
    }
    .searchFilter input
    {
        width: 1rem;
    }
    .searchFilter .tag
    {
        margin-bottom: 0.5rem;
    }
    .tag-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .job-items
    {
        flex-direction: column;
        position: relative;
        height: 200px;
        padding-top: 4rem;
        align-items: flex-start;
        padding-left: 3rem;
        margin-bottom: 3rem;
    }
    .job-comp-ava
    {
        margin: 1rem;
        position: absolute;
        top: -3rem;
        left: 1rem;
    }
    .job-comp-ava img
    {
        width: 4rem;
    }
    .job-tags
    {
        margin: 0;
        margin-top: 2rem;
        margin-left: -6px;
    }
}

@media screen and (max-width: 767px)
{

}